/*
.a{
  font-size: 100px;
}
*/
body {

	background-color: #dddddd;
}

.b{ 
	font-size : 50px;
	font-feature-settings : "palt";
  text-align: center;
  color: #f5510b;
}
.a{
	font-size : 32px;
        text-align: center;
}

.wf-notosansjapanese { font-family: "Noto Sans Japanese"; }
